<% include partial/header %>

<div class="container-fluid">
    <div class="row">
        <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="card-body">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Data</h1>
            </div>

            <div class="card">
                <br>
                <h4 class="col-sm-1"
                    style="color:rgb(47, 21, 80);border-radius: 5px;margin-top:0px;margin-left:30px;font-size: 30px;">
                    Filter</h4>

                <div class="container">
                    <form action="/projects" method="get">
                        <input type="hidden" name="page" value="1">

                        <div class="form-group row">
                            <label for="checkpro1" class="col-sm-3 col-form-label">Letter</label>
                            <div class="col-form-label">
                                <input class="col-sm-6-form-check-input" type="checkbox" id="ck1" name="ck1">
                            </div>
                            <div class="col-md-8">
                                <input type="date" class="form-control" id="id_letter" name="id_letter" placeholder="ID"
                                    value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="checkpro2" class="col-sm-3 col-form-label">Frequency</label>
                            <div class="col-form-label">
                                <input class="col-sm-6-form-check-input" type="checkbox" id="ck2" name="ck2">
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="dtFrequency" name="dtFrequency"
                                    placeholder="Frequency Data" value="">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-secondary">Search</button>
                        <a href='/projects' class="btn btn-danger">Reset</a>
                    </form>
                </div>
                <br>
                <br>
            </div>
            <br>

            <a href='/projects/add' class="btn btn-outline-danger">Add</a></td>
            <div class="card table-responsive">
                <div style="margin-left:50px;margin-right:100px">
                    <table class="table table-hover" id="example" class="display">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col1">Letter</th>
                                <th scope="col">Frequency</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>






                        </tbody>
                    </table>


                </div>

            </div>
        </div>

    </div>
</div>
</div>

<% include partial/footer %>