<% include partial/header %>

<div class="container-fluid">
    <div class="row">
        <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="card-body">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Welcome My App</h1>
            </div>

            <div class="card">
                <div class="card" style="width:400px">
                    <img class="card-img-top"
                        src="https://static05.cminds.com/wp-content/uploads/computer-1331579_1280-1-300x300.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Hi</h4>
                        <p class="card-text" id="here"> NOW Here </p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

</body>

<script>

    $(document).ready(() => {
        auth(localStorage.getItem("token"))
        loadData();

    })

    // data auth
    const apiUrlUser = `http://localhost:3200/api/users/check`

    const auth = () => {
        $.ajax({
            url: apiUrlUser,
            method: "POST",
            data: {
                token: localStorage.getItem("token")
            }
        }).done(data => {
            if (!data.valid) {
                window.location = "/"
            }
        });
    };

    // data user

    
</script>

</html>