<% include partial/header %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container-fluid">
    <div class="row">

        <div class="card-body">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-10 pb-2 mb-3 border-bottom">
                <h1 class="h2">List Data</h1>
            </div>
            <button id="addButton" class="btn btn-outline-danger">Add</button>
            <br>
            <br>
            <div class="card" id="formadd" style="display: none">
                <div class="card-header">
                    <h5 class="card-header" style="background-color: cornflowerblue"><b>Form ADD</b></h5>
                </div>
                <div class="card-body" style="background-color: cornsilk">
                    <form id="dataForm">
                        <input type="hidden" name="page" value="" id="id">

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="dataLetter" placeholder="Letter">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="dataFrequency" placeholder="Frequency">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-save col-form-label">Save</span>
                        </button>
                    </form>
                </div>
            </div>
            <br>

            <div class="card-header">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-10 pb-2 mb-3 border-bottom">
                    <h1 class="h3">Filter</h1>
                </div>
                <div class="card-body" style="background-color: rgb(29, 90, 139)">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="searchletter" name="id_letter"
                                    placeholder="Data Letter">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="searchfrequency" name="dtFrequency"
                                    placeholder="Data Frequency">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>

            <div class="card table-responsive">
                <div style="margin-left:50px;margin-right:100px">
                    <table class="table table-hover" class="display" id="table-data">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Letter</th>
                                <th scope="col">Frequency</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</div>



</body>

<script>

    $(document).ready(() => {
        auth(localStorage.getItem("token"))
        loadData();

    })


    //ADD DATA
    $("#addButton").click(function () {
        if ($('#formadd').is(":hidden")) {
            showAddForm('Add Data');
        } else {
            $('#formadd').hide();
        }
    })

    // Show Form Add
    function showAddForm(data) {
        $('#formadd').show();
    }

    // Api URL
    let apiUrl = `http://localhost:3200/api/data`
    let apiUrlAdd = `http://localhost:3200/api/data/add`
    let apiUrlEdit = `http://localhost:3200/api/data/`
    let id = ""

    // load data From Table
    const loadData = () => {
        $.ajax({
            url: `${apiUrl}`,
            method: "GET",
            dataType: "json"
        }).done((response) => {

            let rows = "";

            response.forEach((item, i) => {
                rows += `<tr>
                                    <th scope="row">${i + 1}</th>
                                    <td scope="col">${item.letter}</td>
                                    <td scope="col">${item.frequency}</td>
                                    <td scope="col">
                                        <button type="submit" class="btn btn-success btn-edit" data-id='${JSON.stringify(item)}'><i class="fa fa-pencil"></i>Edit</button>
                                        <button type="submit" class="btn btn-danger btn-delete" data-id='${item._id}'><i class="fa fa-trash"></i>Delete</button>
                                    </td>
                        </tr>`
            });
            $('#table-data tbody').html(rows)



        }).fail((e) => {

            console.log(e);

        })
    }

    // Form Add Submit
    $('#formadd').submit((e) => {
        e.preventDefault();
        saveData();
    })

    // EDIT/ADD DATA
    $('table tbody').on('click', '.btn-edit', (el) => {


        let item = JSON.parse(el.currentTarget.attributes['data-id'].nodeValue);
        console.log('this data>', item);

        $('#dataLetter').val(item.letter);
        $('#dataFrequency').val(item.frequency);
        $('#id').val(item._id);
        $('#formadd form').show();
        showAddForm("Edit Data")
    })



    // save data
    function saveData() {

        let letter = $('#dataLetter').val();
        let frequency = $('#dataFrequency').val();
        console.log(letter);
        console.log(frequency);

        let id = $('#id').val()

        console.log('data ID > ', id);


        if ($('#dataLetter').val() == "") {
            console.log("Please Insert Letter");
        } else {

            if ($('#id').val() == "") {
                $.ajax({
                    url: apiUrlAdd,
                    method: 'POST',
                    data: {
                        letter: letter,
                        frequency: frequency
                    }
                }).done(data => {
                    console.log(data);

                    console.log("Data Has Been Added");
                    $('#dataLetter').val('');
                    $('#dataFrequency').val('');
                    $('#formadd').hide();
                    loadData();
                })
            } else {
                console.log("masuk put");
                $.ajax({
                    url: apiUrlEdit + $('#id').val(),
                    method: 'PUT',
                    data: {
                        letter,
                        frequency
                    }
                }).done(data => {
                    console.log(data);

                    console.log("Data Has Been Edited");
                    $('#dataLetter').val('');
                    $('#dataFrequency').val('');
                    $('#formadd').hide();
                    loadData();
                    id = "";
                })
            }
        }
    }

    // Delete Data
    $('table tbody').on('click', '.btn-delete', (el) => {
        deleteData(el.currentTarget.attributes['data-id'].nodeValue)

    })

    const deleteData = (id) => {
        let letter = $('#dataLetter').val();
        let frequency = $('#dataFrequency').val();
        console.log(id);

        $.ajax({
            url: apiUrlEdit + id,
            method: "DELETE"
        }).done(response => {
            loadData()
            alert("Delete This Data?")
        })
    }


    // search data
    $('#searchletter').keyup(function () {
        $('#searchletter').val($('#searchletter').val());
        browseData();
    });

    $('#searchfrequency').keyup(function () {
        browseData();
    });

    function browseData() {
        $('#formadd').hide();
        let letter = $('#searchletter').val();
        let frequency = $('#searchfrequency').val();
        if (isNaN(frequency) === true && frequency != "") {
            showAlert("Please insert number")
        } else {

            console.log("cek Database ON");

            $.ajax({
                url: apiUrlEdit + 'search',
                method: 'POST',
                data: {
                    letter,
                    frequency
                }
            }).done(data => {
                console.log(data);

                console.log("search success");


                let rows = "";

                data.forEach((item, i) => {
                    rows += `<tr>
                        <th scope="row">${i + 1}</th>
                        <td scope="col">${item.letter}</td>
                        <td scope="col">${item.frequency}</td>
                        <td scope="col">
                            <button type="submit" class="btn btn-success btn-edit" data-id='${JSON.stringify(item)}'><i class="fa fa-pencil"></i>Edit</button>
                            <button type="submit" class="btn btn-danger btn-delete" data-id='${item._id}'><i class="fa fa-trash"></i>Delete</button>
                        </td>
            </tr>`
                });
                $('#table-data tbody').html(rows)



            }).fail((e) => {

                console.log(e);


            })
        }
    }

    const apiUrlUser = `http://localhost:3200/api/users/check`

    const auth = () => {
        $.ajax({
            url: apiUrlUser,
            method: "POST",
            data: {
                token: localStorage.getItem("token")
            }
        }).done(data => {
            if (!data.valid) {
                window.location = "/"
            }
        });
    };

</script>

</html>