<% include partial/header %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container-fluid">
    <div class="row">

        <div class="card-body">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-10 pb-2 mb-3 border-bottom">
                <h1 class="h2">Maps</h1>
            </div>
            <button id="addButton" class="btn btn-outline-danger">Add</button>
            <br>
            <br>
            <div class="card" id="formadd" style="display: none">
                <div class="card-header">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-10 pb-2 mb-3 border-bottom">
                        <h1 class="h3">Add Data</h1>

                    </div>
                    <div class="card-body" style="background-color: rgb(29, 90, 139)">
                        <form>
                            <div class="row">
                                <div class="col">

                                    <input type="text" class="form-control" id="addTitle" name="addTitle"
                                        placeholder="Title of Maps">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="addLongtitude" name="addLongtitude"
                                        placeholder="Longtitude of Maps">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="addLatitude" name="addLatitude"
                                        placeholder="Latitude of Maps">
                                </div>
                            </div>
                            <br>

                            <button type="submit" class="btn btn-outline-warning col-md-8"> Save </button>

                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="card table-responsive">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background-color: cyan"><b>Search</b></span>
                        </div>
                        <input type="text" class="form-control col-sm-3" id="searchTitle" placeholder="Title">
                    </div>
                </form>
                <div style="margin-left:50px;margin-right:100px">
                    <table class="table table-hover" class="display" id="table-data">
                        <div class="card-header">
                            <thead>
                                <tr>
                                    <input type="hidden" name="page" value="" id="id">

                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Longtitude</th>
                                    <th scope="col">Latitude</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</div>



</body>
<script>

    $(document).ready(() => {
        loadData();

    })

    //ADD DATA
    $("#addButton").click(function () {
        if ($('#formadd').is(":hidden")) {
            showAddForm('Add Data');
        } else {
            $('#formadd').hide();
        }
    })

    // Show Form Add
    function showAddForm(data) {
        $('#formadd').show();
    }

    // Api URL
    let apiUrl = `http://localhost:3200/api/dataMaps`
    let apiUrlAdd = `http://localhost:3200/api/dataMaps/add`
    let apiUrlEdit = `http://localhost:3200/api/dataMaps/`
    let id = ""

    // load data From Table
    const loadData = () => {
        $.ajax({
            url: `${apiUrl}`,
            method: "GET",
            dataType: "json"
        }).done((response) => {

            let rows = "";

            response.forEach((item, i) => {
                rows += `<tr>
                                            <th scope="row">${i + 1}</th>
                                            <td scope="col">${item.title}</td>
                                            <td scope="col">${item.lat}</td>
                                            <td scope="col">${item.lng}</td>

                                            <td scope="col">
                                                <button type="submit" class="btn btn-success btn-edit" data-id='${JSON.stringify(item)}'><i class="fa fa-pencil"></i>Edit</button>
                                                <button type="submit" class="btn btn-danger btn-delete" data-id='${item._id}'><i class="fa fa-trash"></i>Delete</button>
                                            </td>
                                </tr>`
            });
            $('#table-data tbody').html(rows)



        }).fail((e) => {

            console.log(e);

        })
    }

    // Form Add Submit
    $('#formadd').submit((e) => {
        e.preventDefault();
        saveData();
    })

    // EDIT/ADD DATA
    $('table tbody').on('click', '.btn-edit', (el) => {


        let item = JSON.parse(el.currentTarget.attributes['data-id'].nodeValue);
        console.log('this data>', item);

        $('#addTitle').val(item.title);
        $('#addLongtitude').val(item.lat);
        $('#addLatitude').val(item.lng);
        $('#id').val(item._id);
        $('#formadd form').show();
        showAddForm("Edit Data")
    })



    // save data
    function saveData() {

        let title = $('#addTitle').val();
        let lat = $('#addLongtitude').val();
        let lng = $('#addLatitude').val();

        console.log(title);
        console.log(lat);
        console.log(lng);



        if ($('#addTitle').val() === "") {
            console.log("Please Insert Letter");
        } else {

            if ($('#id').val() == '') {
                $.ajax({
                    url: apiUrlAdd,
                    method: 'POST',
                    data: {
                        title: title,
                        lat: lat,
                        lng: lng
                    }
                }).done(data => {
                    console.log(data);

                    console.log("Data Has Been Added");
                    $('#addTitle').val('');
                    $('#addLongtitude').val('');
                    $('#addLatitude').val('');
                    $('#formadd').hide();
                    loadData();
                })
            } else {
                console.log("masuk put");
                $.ajax({
                    url: apiUrlEdit + $('#id').val(),
                    method: 'PUT',
                    data: {
                        title,
                        lat,
                        lng
                    }
                }).done(data => {
                    console.log(data);

                    console.log("Data Has Been Edited");
                    $('#addTitle').val('');
                    $('#addLongtitude').val('');
                    $('#addLatitude').val('');
                    $('#formadd').hide();
                    loadData();
                    id = "";
                })
            }
        }
    }

    // Delete Data
    $('table tbody').on('click', '.btn-delete', (el) => {
        deleteData(el.currentTarget.attributes['data-id'].nodeValue)

    })

    const deleteData = (id) => {
        let letter = $('#dataLetter').val();
        let frequency = $('#dataFrequency').val();
        console.log(id);

        $.ajax({
            url: apiUrlEdit + id,
            method: "DELETE"
        }).done(response => {
            loadData()
            alert("Delete This Data?")
        })
    }


    // search data
    $('#searchTitle').keyup(function () {
        $('#searchTitle').val($('#searchTitle').val());
        browseData();
    });

    function browseData() {
        $('#formadd').hide();
        let title = $('#searchTitle').val();
        

            console.log("cek Database ON");

            $.ajax({
                url: apiUrlEdit + 'search',
                method: 'POST',
                data: {
                    title
                }
            }).done(data => {
                console.log(data);

                console.log("search success");


                let rows = "";

                data.forEach((item, i) => {
                    rows += `<tr>
                            <th scope="row">${i + 1}</th>
                                            <td scope="col">${item.title}</td>
                                            <td scope="col">${item.lat}</td>
                                            <td scope="col">${item.lng}</td>

                                            <td scope="col">
                                                <button type="submit" class="btn btn-success btn-edit" data-id='${JSON.stringify(item)}'><i class="fa fa-pencil"></i>Edit</button>
                                                <button type="submit" class="btn btn-danger btn-delete" data-id='${item._id}'><i class="fa fa-trash"></i>Delete</button>
                                            </td>
                    </tr>`
                });
                $('#table-data tbody').html(rows)



            }).fail((e) => {

                console.log(e);


            })
        
    }

</script>

</html>